*, *::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    font-family : 'Roboto', 'Arial', sans-serif;
    padding     : 0;
    margin      : 0;
    background  : $body-bg; 
    color       : $body-fg;
    &.sticky-top {
        @mixin atMedium { padding-top: $primary-navH };
    }

    &.blog-bg {
        background: #EFEFEF;
        color: #151515;
    }
}

img {
    max-width : 100%;
    height    : auto;
}

.invisible { visibility : hidden }
.hide      { display    : none   }

.pull-left  { float: left  }
.pull-right { float: right }

.scroll-lock { overflow: hidden }
.page-lock { overflow: hidden }

#home {
    @mixin smThanMedium {
        background: url('img/purple-sky.jpg');
    }
    @mixin atMedium {
        background: url('img/purple-sky-lg.jpg');
    }
    background-size: 'cover';
}

#blog {
    background: url('img/blog-bg.jpg');
    background-size: 'cover';
}

.me {
    display: block;
    margin: 0.35rem auto 2rem auto;
    width: 300px;
    height: 300px;

    border: 7px solid $brand-secondary;
}

.image {
    display: block;
    margin: 1rem auto;

    width: 300px;
    height: auto;
}

.circle {
    border-radius: 9999px
}