*, *::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    font-family : 'Roboto', 'Arial', sans-serif;
    padding     : 0;
    margin      : 0;
    background  : $body-bg; 
    color       : $body-fg;
    &.sticky-top {
        @mixin atMedium { padding-top: $primary-navH };
    }

    &.blog-bg {
        background: #EFEFEF;
        color: #151515;
    }
}

img {
    max-width : 100%;
    height    : auto;
}

.invisible { visibility : hidden }
.hide      { display    : none   }

.pull-left  { float: left  }
.pull-right { float: right }

.scroll-lock { overflow: hidden }
.page-lock { overflow: hidden }


#react-app {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;

    .footer {
        flex-grow: 1;
    }
}