/* COLORS */
    /* BASES */
    $black : rgb(0, 0, 0);
    $white : rgb(255, 255, 255);
    $gray  : rgb(127, 127, 127);


    $darkest-gray  : color($black l(+ 10%));
    $darker-gray   : color($black l(+ 20%));
    $dark-gray     : color($black l(+ 30%));
    $lighter-gray  : color($white l(- 30%));
    $lighter-gray  : color($white l(- 20%));
    $lightest-gray : color($white l(- 10%));

    /* CUSTOM COLORS */
    $main-purple   : rgb(89, 24, 126);
    $main-pink     : rgb(255, 0, 128);
    $main-lavender : rgb(180, 69, 224);

    /* CONTEXTUAL COLORS */
    $brand-default   : $lightest-gray;
    $brand-primary   : $main-lavender;
    $brand-secondary : $main-purple;
    $brand-success   : rgb(92, 184, 92);
    $brand-info      : rgb(91, 192, 222);
    $brand-warning   : rgb(240, 173, 78);
    $brand-danger    : rgb(217, 83, 79);

/* COLORS END */

/* Z-INDEXES  */

    $primary-navZ : 500;

/* Z-INDEXES END */

/* DEFAULTS */

    $body-bg : $brand-primary;
    $body-fg : $white;
    $font-sz : 14px;

    $link-color       : $gray;
    $link-hover       : color($gray b(+ 5%));
    $link-hover-decor : underline;

/* DEFAULTS END */

/* MISC. MODULES CONFIG */

/* MISC. MODULES CONFIG END */

/* Z INDEXES */

    $mob-navZ: 1000;
    $primary-navZ: 900;

/* Z INDEXES END */

/* COMPONENTS */
    /* BUTTONS */
    $btn-font-size : 1rem;
    $btn-vPadding  : 0.75rem;
    $btn-hPadding  : 1.2rem;

    /* CARDS */
    $cards-color   : color($brand-secondary l(+ 10%));
    $cards-border  : color($cards-color l(- 5%));
    $cards-text    : $white;

    /* LARGE HERO */
    $large-hero-background   : $lighter-gray;
    $large-hero-border-color : $gray;
    $large-hero-title-text   : $dark-gray;
    $large-hero-text         : $darkest-gray;

    /* NAVS */
    $navs-color   : $brand-secondary;
    $navs-border  : color($navs-color l(+ 15));
    $navs-hover   : color($navs-color b(+ 10));
    $navs-current : $navs-hover;
    $navs-active  : $navs-hover;

    $navs-text         : $white;
    $navs-hover-text   : $navs-text;
    $navs-current-text : $navs-text;
    $navs-active-text  : $navs-text;

    /* FOOTER */
    $footer-color : $navs-color;
    $footer-text  : $navs-text;

        /* PRIMARY NAV */
        $primary-navH : 60px;
        /* CONTACTS NAV */
        $contacts-navH : 30px;
        /* FOOTER NAV */
        $footer-navH  : 30px;
        /* MOBILE NAV */
        $mob-navH     : 45px;

    /* ROWS */
    $gutter-width: 2%;

    /* SOCIAL ICONS */
    $social-icon-bg   : $darker-gray;
    $social-icon-size : 72px;

    /* SOCIAL MEDIA BUTTONS */
    $social-button-size : calc($mob-navH + 7px);

    /* TESTIMONIAL */
    $testimonial-bg       : color($white a(0.75));
    $testimonial-title    : $brand-primary;
    $testimonial-subtitle : $brand-info;

    /* WRAPPER */
    $wrapper-padding: 18px;

.test-rect {
    display: block;
    width: 100%;
    height: 100px;
}

.pink {
    background: $main-pink;
}

.purple {
    background: $main-purple;
}

.lavender {
    background: $main-lavender;
}