.cards {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    width: 100%;
    margin: 1rem;
    margin-left: 0 !important;
    margin-right: 0 !important;

    @for $i from 2 to 5 {
       &--in-$(i)s > * {
            @mixin smThanMedium {
                width: 100%;
            }
            @mixin atMedium {
                @mixin card-widths $i
            }
        }
    }

    & > * {
        margin-bottom: 1rem !important;
        padding: 1rem 1.35rem;
        text-align: center;
        list-style-type: none;

        @mixin smThanMedium {
            margin-top: 1rem;
            margin-bottom: 2rem !important;
        }
    }

    &--align-left > * { text-align: left }

    &--align-right > * { text-align: right }

    &--rounded > * {
        border-radius: 1.125rem;
    }

    &--blue > *, &--card-blue {
        background: $cards-color;
        color: $cards-text;
        border: 1px solid $cards-border;
        box-shadow: 0 2px 1px color(black a(0.3));
    }

    &--dark-gray > *, &--card-dark-gray {
        background: $darker-gray;
        color: #EEE;
        border: 1px solid $darkest-gray;
        box-shadow: 0 2px 1px color(black a(0.3));
    }
}
