.page-section {
    padding: 4.5rem 0;
    &--dark {
        background-color: #111;
        color: #FFF;
    }
    &--yellow {
        background-color: $bahamaYellow;
        color: #333;
    }
    &--blue {
        background-color: $bahamaBlue;
        color: #222;
    }
    &--testimonials {
        background-color: #E0E6EF;
        @mixin atLarge {
            &.lazyloaded{
                background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
                background-size: cover;
            }
        }
    }
    &--no-b-padding-until-md {
        padding: 0;
        @mixin atMedium {
            padding-bottom: 4.5rem
        }
    }
    &--no-b-padding-until-lg {
        padding: 0;
        @mixin atLarge {
            padding-bottom: 4.5rem
        }
    }
}
