.wrapper {
    display       : block;
    padding-left  : $wrapper-padding;
    padding-right : $wrapper-padding;
    margin-left   : auto;
    margin-right  : auto;
    max-width     : calc(1200px + ($wrapper-padding * 2));
    overflow      : visible;

    &--large {
        max-width: calc(1500px + ($wrapper-padding * 2));
    }
    &--medium {
        max-width: calc(991px + ($wrapper-padding * 2));
    }
    &--narrow {
        max-width: calc(470px + ($wrapper-padding * 2));
    }
    &--b-margin {
        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 1.875rem
        }
        @mixin atMedium {
            margin-bottom: 2.875rem
        }
        @mixin atLarge {
            margin-bottom: 3.875rem;
        }
    }
    &--fluid {
        padding-left  : 0;
        padding-right : 0;
        &-xs {
            @mixin atSmall {
                padding-left  : $wrapper-padding;
                padding-right : $wrapper-padding;
            }
        }
        &-sm {
            @mixin atMedium {
                padding-left  : $wrapper-padding;
                padding-right : $wrapper-padding;
            }
        }
        &-md {
            @mixin atLarge {
                padding-left  : $wrapper-padding;
                padding-right : $wrapper-padding;
            }
        }
    }
}
